@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family:  '맑은 고딕';
    color: #335348;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

p {
    font-size: 14px;
}

header, nav, main, article, section, aside, footer {
    display: block;
}