@charset "utf-8";

/* ===== 그리드 시스템 confix ===== */
.confix { 
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: gold; */
}

.vBox::before, .vBox::after {
    display: block;
    content: '';
    clear: both;
}


/*========== header area ==========*/
header {
    position: relative;
    height: 230px;
    /* background-color: yellow; */
}

/* topMenu */
.logoMenu {
    height: 40px;
    background-color: #335348;
}

.logoMenu .topMenu {
    float: right;
}

.topMenu li {
    float: left;
}

.topMenu li>a {
    margin-left: 17px;
    line-height: 40px;
    color: white;
    font-size: 11px;
}

.topMenu li>a:hover { 
    font-weight: bold;
    text-decoration: underline;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translateX(-50%);
}


/* mainMenu */
.mainMenu {
    position: absolute;
    top: 200px;
    width: 100%;
    /* width: 855px; */
}

.gnb {
    width: 918px;
    margin: 0 auto;
    /* color: pink; */
    /* height: 20px; */
}

.gnb>li {
    float: left;
    margin: 0 28px;
}

.gnb>li>a {
    color: #253b33;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.gnb li::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #335348;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.gnb li:hover::before {
    transform: scaleX(1);
}

/*========== content area ==========*/
main {
    width: 100%;
    /* background-color: beige; */
}

/*=== main 공통 ===*/
.products {
    position: relative;
    width: 100%;
    height: 100%;
}
    
.products .pdtInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    opacity: 0;
    transition: 0.5s ease;
    color: #fff;
}

.products div a:hover .pdtInfo {
    opacity: 1; 
}


/* mainImg 영역 */
.mainImg img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 80px;
}


/* ourProducts 영역 */
.ourProducts .secTitle {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.ourProducts .ourProductsList {
    display: flex;
    flex-wrap: wrap;
}

.ourProductsList .bundle {
    width: 385px;
    height: 560px;
}

.bundle div {
    margin-bottom: 20px;
}


.ourProducts .ourProductsList .basic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 675px;
    height: 560px;
    padding-left: 20px;
}

.ourProductsList div a{
	position: relative;
	width:100%;
	height:100%;
}

.ourProductsList div a::before {
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: 10; */
	width: 100%;
	height: 100%;
	background: #335348;
	content: "";
	opacity: 0;
	transition: all 0.2s;
}

.ourProductsList div a:hover::before {
	opacity: 0.90;
}




/* newProducts 영역 */
.newProducts .secTitle {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 40px;
    text-align: center;
}

.newProducts .newProductsList {
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

/* .newProductsList img {
    width: 100%;
} */

.newProductsList .bundle {
    width: 520px;
    height: 456px;
}

.newProducts .newProductsList .basic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 540px;
    height: 456px;
    padding-left: 20px;
}

.newProductsList div a{
	position: relative;
	width:100%;
	height:100%;
}

.newProductsList div a::before {
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: 10; */
	width: 100%;
	height: 100%;
	background: #335348;
	content: "";
	opacity: 0;
	transition: all 0.2s;
}

.newProductsList div a:hover::before {
	opacity: 0.90;
}



/* herb 영역 */
.herb .secTitle {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 40px;
    text-align: center;
}

.herb .herbList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.herbList li a{
	position: relative;
	width:100%;
	height:100%;
}

.herbList li a::before {
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: 10; */
	width: 100%;
	height: 100%;
	background: #335348;
	content: "";
	opacity: 0;
	transition: all 0.2s;
}

.herbList li a:hover::before {
	opacity: 0.90;
}





/* eventBanner */
.eventBanner .secTitle {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 40px;
    text-align: center;
}

.eventBanner img{
    width: 100%;
    background-color: pink;
}

.eventBanner ul>li:first-child {
    margin-bottom: 20px;
}


/* topBtn */
.topBtn {
    margin-top: 110px;
    padding-bottom: 45px;
}

.topBtn a {
    float: right;
    width:70px;
    height: 70px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #335348;
    transition: opacity 0.3s ease-in;
    opacity: 0.5;
}

.topBtn a:hover {
    opacity: 1;
}



/*========== footer area ==========*/
footer {
    clear: both;
    width: 100%;
    height: 260px;
    /* background-color: #868584; */
}

/* footerMenuArea */
.footMenuArea {
    width: 100%;
    height: 32px;
    margin-top: 45px;
    border-top: 1px solid #253b33;
    border-bottom: 1px solid #253b33;
}

.footerMenu {
    float: right;
}

.footerMenu li{
    float: left;
}

.footerMenu li>a {
    margin-left: 17px;
    line-height: 32px;
    font-size: 11px;
    font-weight: bold;
}

.footerMenu li>a:hover {
    text-decoration: underline;
}

/* footInfo */
.footInfo {
    clear: both;
    margin-top: 18px;
    line-height: 20px;
    /* background-color: lavender; */                                    
}

.footInfo .footLogo {
    float: left;
    margin: 0 28px;
}

.footInfo .adrCopyTxt {
    float: left;
    margin-left: 20px;
}

.adrCopyTxt p {
    font-size: 10px;
}

.footInfo .pdtInfo {
    float: right;
}

.pdtInfo ol>li {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 10px;
}

/* footBottom */
.footBottom {
    width: 100%;
    height: 66px;
    margin-top: 28px;
    background-color: #335348;
}
.footBottom p {
    padding-top: 10px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}