@charset "utf-8";

/* ===== 그리드 시스템 confix ===== */
.confix { 
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: gold; */
}

.vBox::before, .vBox::after {
    content: '';
    display: block;
    clear: both;
}


/*========== header area ==========*/
header {
    position: relative;
    height: 230px;
    /* background-color: yellow; */
}

/* topMenu */
.logoMenu {
    height: 40px;
    background-color: #335348;
}

.logoMenu .topMenu {
    float: right;
}

.topMenu li {
    float: left;
}

.topMenu li>a {
    margin-left: 17px;
    line-height: 40px;
    color: white;
    font-size: 11px;
}

.topMenu li>a:hover { 
    font-weight: bold;
    text-decoration: underline;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translateX(-50%);
}


/* mainMenu */
.mainMenu {
    position: absolute;
    top: 200px;
    width: 100%;
    /* width: 855px; */
}

.gnb {
    width: 918px;
    margin: 0 auto;
    /* color: pink; */
    /* height: 20px; */
}

.gnb>li {
    float: left;
    margin: 0 28px;
}

.gnb>li>a {
    color: #253b33;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.gnb li::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #335348;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.gnb li:hover::before {
    transform: scaleX(1);
}

/*========== content area ==========*/
main {
    width: 100%;
    /* background-color: beige; */
}




/*========== footer area ==========*/
footer {
    clear: both;
    width: 100%;
    height: 260px;
    /* background-color: #868584; */
}

/* footerMenuArea */
.footMenuArea {
    width: 100%;
    height: 32px;
    margin-top: 45px;
    border-top: 1px solid #253b33;
    border-bottom: 1px solid #253b33;
}

.footerMenu {
    float: right;
}

.footerMenu li{
    float: left;
}

.footerMenu li>a {
    margin-left: 17px;
    line-height: 32px;
    font-size: 11px;
    font-weight: bold;
}

.footerMenu li>a:hover {
    text-decoration: underline;
}

/* footInfo */
.footInfo {
    clear: both;
    margin-top: 18px;
    line-height: 20px;
    /* background-color: lavender; */
}

.footInfo .footLogo {
    float: left;
    margin: 0 28px;
}

.footInfo .adrCopyTxt {
    float: left;
    margin-left: 20px;
}

.adrCopyTxt p {
    font-size: 10px;
}

.footInfo .pdtInfo {
    float: right;
}

.pdtInfo ol>li {
    list-style-type: decimal;
    font-size: 10px;
}

/* footBottom */
.footBottom {
    width: 100%;
    height: 66px;
    margin-top: 28px;
    background-color: #335348;
}
.footBottom p {
    padding-top: 10px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}